<%= form_with(model: enroll) do |form| %>
  <% if enroll.errors.any? %>
    <div style="color: red">
      <ul>
        <% enroll.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.submit %>
  </div>
<% end %>
