<h1 align="center">Welcome to Admin Home Page</h1>
<section class="tiles">
  <div class="container">
    <div class="row">
      <div class="row">
        <div class="col-md-4 col-lg-4">
          <div class="link-tiles">
            <%= link_to 'Instructors', admin_instructors_path %>
          </div>
        </div>

        <div class="col-md-4 col-lg-4">
          <div class="link-tiles">
            <%= link_to 'Students', admin_students_path %>
          </div>
        </div>

        <div class="col-md-4 col-lg-4">
          <div class="link-tiles">
            <%= link_to 'Courses', admin_courses_path %>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>