<section class="tiles">
  <div class="container">
    <div class="row">
      <div class="row">
        <div class="col-md-4 col-lg-4">
          <div class="link-tiles">
            <%= link_to 'Instructors', admin_instructors_path %>
          </div>
        </div>
        <div class="col-md-4 col-lg-4">
          <div class="link-tiles">
            <a href="#">Students</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>